.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.mr12 {
  margin-right: 1.2rem;
}
.mr16 {
  margin-right: 1.6rem;
}

.mr20 {
  margin-right: 2rem;
}
.mr24 {
  margin-right: 2.4rem;
}

.mb4 {
  margin-bottom: 0.4rem;
}

.mb12 {
  margin-bottom: 1.2rem;
}

.mb20 {
  margin-bottom: 2rem;
}

.mb40 {
  margin-bottom: 4rem;
}

.mb80 {
  margin-bottom: 8rem;
}

.mb100 {
  margin-bottom: 10rem;
}

.pdb0 {
  padding-bottom: 0px;
}

.mt20 {
  margin-top: 2rem;
}

.flex-grow {
  flex-grow: 1;
}
