.flex {
  display: flex;
}

.mr20 {
  margin-right: 2rem;
}
.mr24 {
  margin-right: 2.4rem;
}

.mb20 {
  margin-bottom: 2rem;
}

.mb80 {
  margin-bottom: 8rem;
}

.mb100 {
  margin-bottom: 10rem;
}

.pdb0 {
  padding-bottom: 0px;
}
