.bg-black {
  background-color: #000;
}

.bg-black20 {
  background-color: #f2f2f2;
}

.text-white {
  color: #fff;
}

.text-black20 {
  color: #f2f2f2;
}

.text-black60 {
  color: #919191;
}
.text-black80 {
  color: #525252;
}
