.chinese-font {
  font-family: "NotoSansTC", sans-serif;
}

.fz14 {
  font-size: 1.4rem;
}

.fz16 {
  font-size: 1.6rem;
}
.fz20 {
  font-size: 2rem;
}

.fz32 {
  font-size: 3.2rem;
}

.fz48 {
  font-size: 4.8rem;
}

.fz80 {
  font-size: 8rem;
}
.fz120 {
  font-size: 12rem;
}

.fw400 {
  font-weight: 400;
}
.fw700 {
  font-weight: 700;
}
.fw900 {
  font-weight: 900;
}

.lh12 {
  line-height: 1.2;
}

.lh15 {
  line-height: 1.5;
}
